@import url('https://fonts.googleapis.com/css2?family=Asap:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Asap', sans-serif;
}


h1{
    padding: 10px;
    margin: 10px;
    font-size: 50px;
    text-align: center;
}

.images img{
    width: 200px;
    height: 300px;
}

.images {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap:10px;
    padding: 10px;
}

@media(max-width: 1024){
    .images{
        grid-template-columns: repeat(4,1fr);
    }
}

@media screen and (max-width: 832px ) {
    .images{
        grid-template-columns: repeat(3,1fr);
    }
}

@media(max-width: 650px){
    .images{
        grid-template-columns: repeat(2,1fr);
    }
}

@media(max-width: 410px){
    .images{
        grid-template-columns: repeat(1,1fr);
    }
}

